* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI Regular', Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #444;
}

#root {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d31262;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
  display: inline-flex;
}

.navbar ul li a {
  color: #fff;
  margin: 0 10px;
  height: auto;
  text-decoration: none;
  font-size: 1.3rem;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h2 {
  font-size: 2em;
  padding-bottom: 20px;
}

/* Animation (Add After) */

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
